### Lesson 1  print

In [41]:
print("hello ahsan")

hello ahsan

### Lesson 2  Variables for Strings

In [40]:
name = "Ahsan"
name = "Umer" # it overwrite the value
print(name)

Umer

### Lesson 3  Variables for Numbers

In [39]:
name = 12 # Also change the  type
print(name)

12

### Lesson 4  Math expressions: Familiar operators

In [38]:
num1 = 10
num2 = 20
print(num1 + num2) # 30
print(num1 - num2) # -10
print(num1 * num2) # 200
print(num1 / num2) # 0.5

30
-10
200
0.5

### Lesson 5  Variable Names Legal and Illegal

In [37]:
#### we don't use the keyword as a variable name 
numberOFTotalStudents = 50       # camel case ==> recommended
number_oF_total_students = 50    # snake case
NumberOfTotalStudents = 50       # pascal case

print(numberOFTotalStudents, number_oF_total_students,NumberOfTotalStudents)

50 50 50

### Lesson 6   Math expressions: Unfamiliar operators

In [36]:
whats_left_over = 10 % 3
print(whats_left_over) 

age = 20
age += 1        # age = age + 1
age -= 2        # age = age - 2
age *= 3        # age = age * 3

print(age)

1
57

### Lesson 7 Math expressions: Eliminating ambiguity

In [35]:
total_cost = ( 1 + 3) * 4
result_of_computation = ((2 * 4) * 4) + 2

### Lesson 8  Concatenating text strings

In [34]:
f_name = "Ahsan"
l_name = "Shaikh"

print(f_name + " " + l_name)
print(f"{f_name} {l_name} ")  

age = 22
message = "My name is {0} {1} and I am {2} years old.".format(f_name,l_name, age)
print(message)

Ahsan Shaikh
Ahsan Shaikh
My name is Ahsan Shaikh and I am 22 years old.